:host{
    grid-area: content;
    font-family: 'Standard Old TT', sans-serif;
}

main{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    background : url('https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg') no-repeat ;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaded{
    display: none;
}

.table-div{
    width: 70%;
    height: 400px;
    overflow: auto;
}

.actions{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.table th{
    position: sticky;
    text-align: center;
    top: 0;
}

.table td{
    text-align: center;
}

@media  screen and (max-width: 784px) {
    .table{
        font-size: 0.8rem;
    }

    .actions button{
        font-size: 0.8rem;
    }
}