<nav class="navbar">
    <div class="logo"><a routerLink=""><img src="/assets/site-icon.png" alt="logo">Review Community</a></div>
    <div class="links" [class.open] = "isMenuOpen" [class.admin] = "isAdminLoggedIn()">
           <a routerLink="" *ngIf="!isAdminRoute()" (click) = "toggleMenu()">Home</a>
           <a routerLink="admin" *ngIf="isAdminRoute()" (click) = "toggleMenu()">Home</a>
           <a routerLink="admin/reviews" *ngIf="isAdminRoute() && isAdminLoggedIn()" (click) = "toggleMenu()">Approve</a>
           <a routerLink="user/login" *ngIf="!isUserLoggedIn() && !isAdminRoute()" (click) = "toggleMenu()">Login</a>
           <a routerLink="admin/login" *ngIf="!isAdminLoggedIn() && isAdminRoute()" (click) = "toggleMenu()">Login</a>
           <a routerLink="user/register" *ngIf="!isUserLoggedIn() && !isAdminRoute()" (click) = "toggleMenu()">Register</a>
           <a routerLink="request/review" *ngIf="isUserLoggedIn()" (click) = "toggleMenu()">Request</a>
           <a routerLink="" *ngIf="isUserLoggedIn() || isAdminLoggedIn()" (click) = "toggleMenu()" (click) = "logout()">Logout</a>
           <div class="user-detail" *ngIf="isUserLoggedIn() || isAdminLoggedIn()">
              <p><i class="fa-solid fa-user"></i> Welcome, {{userName}}</p>
          </div>
    </div>
    <div class="menu-icon" (click) = "toggleMenu()" [class.active] = "isMenuOpen">
           <span class="bars"></span>
           <span class="bars"></span>
           <span class="bars"></span>
    </div>  
</nav> 
