<div class="main" [class.search] = "isUserLoggedIn()">

        <div class="info-container">
            <div class="info">
                 <h1>Review Community</h1>
                 <p>Your go-to destination for unbiased and <br>honest product reviews</p>
            </div>
        </div>
        <div class="stats-container" [class.active] = "isActive">
             <div class="stats">
                 <div class="user-count" [class.active] = "isActive">
                    <div class="icon"><i class="fa-solid fa-users"></i>
                    </div>
                    <div class="count">
                         {{stats.userCount}}<br>
                         Users
                    </div>
                 </div>
                 <div class="product-count" [class.active] = "isActive">
                    <div class="icon"><i class="fa-solid fa-boxes-stacked"></i></div>
                    <div class="count">
                        {{stats.productCount}}<br>
                        Products
                   </div>
                 </div>
                 <div class="review-count" [class.active] = "isActive"> 
                    <div class="icon"><i class="fa-solid fa-comment-dots"></i></div>
                    <div class="count">
                        {{stats.reviewCount}}<br>
                        Reviews
                   </div>
                 </div>
             </div>
        </div>

        <div class="search-div" *ngIf="isUserLoggedIn()">
               <div id="search-box">
                 <input type="text" id="search-input" placeholder="Search (product name, brand, code)" [(ngModel)]="searchQuery" (ngModelChange) = "updateSearchQuery()"/>
                  <a routerLink="product"><i class="fa-solid fa-magnifying-glass"></i></a>
               </div>
        </div>
</div>
