<main>
    <div class="message-div" *ngIf = "loginSuccess"><h4 class="text-success">Login Successful</h4></div>
    <div class="message-div" *ngIf = "loginUnSuccess"><h4 class="text-danger">{{errorMessage}}</h4></div>
    <div class="login-container " [class.invalid] = "emailInValid || passwordInValid">
      <h2>Login</h2>
      <div class="login-form">
        <form (ngSubmit) = "onSubmit()">
          <div class="row mb-3 justify-content-center">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" [class.is-valid] = "emailValid" [class.is-invalid] = "emailInValid" id="email" name="email" [(ngModel)] = "email" required>
              <div id="emailFeedback" class="invalid-feedback">
                  Please provide a valid email.
                </div>
            </div>
          </div>
          <div class="row mb-3 justify-content-center">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" [class.is-valid]="passwordValid" [class.is-invalid] = "passwordInValid" id="password" name="password" [(ngModel)] = "password" required>
              <div id="passwordFeedback" class="invalid-feedback">
                  Please provide a password.
                </div>
          </div>
          </div>
          <div class="login-button-div">
              <button type="submit" class="login-button">Login</button>
          </div>
        </form>
      </div>
    </div>
</main>